body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  transition: background-color 0.5s;
}

button {
  padding: 10px 20px;
  font-size: 16px;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.dark-bg {
  background-color: #333;
  color: #fff;
}

.light-bg {
  background-color: #f4f4f4;
  color: #333;
}
#message {
  position: absolute;
  margin-top: 70px;
  text-align: center;
}
